<div class="container"><div class="input-group mb-3">
   
    <input type="password" class="form-control" placeholder="old password" aria-label="old password" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-3">
    <input type="password" class="form-control" placeholder="New Password" aria-label="New Password" aria-describedby="basic-addon2">
    
  </div>
<button type="submit" class="btn btn-primary" (click)="Update()">Update</button>
<button type="submit" class="btn btn-primary" routerLink='/admin'>Cancel</button>
  </div>
  