<head>
  <link rel="stylesheet" href="admin-home.component.css">
</head>
<body>
    <div class='container' >
    <h3>Welcome Admin</h3>
<nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start">
    <ul > <li class="nav-item">
      <a class="nav-link" routerLink="/admin-update">Change Password</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-products">PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Logout</a>
      </li>
    </ul> </form> </nav></div></body>