<head>
    <link rel="stylesheet" href="home.component.css">
</head>

<body >
<div class="container">
    <h2 style="color: blue;
    
    background-color:cyan;" >Welcome To The World Of Kitchen Story</h2>
<br><br>
<p style="font-family: inherit;
font-weight: bold;
background-color: cornsilk;
">Click on Products on the Navigation Menu to See Our Products</p>
<hr>
<p  style="background-color: khaki;">For Assistance Please Click Contact</p>
<hr>
<p style="background-color: blanchedalmond;">Select About to Know More About Us</p>

</div>
</body>